body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
    background-size: cover; 
}
form{
    margin: 0 auto;
    width: 50%;
    margin-top: 12%;
    margin-left: 40%;

}
.caja{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(252, 252, 252);
}
img{
    padding-bottom: 30px;
}