ul{
    text-align: right;
    background-color: darkcyan;
    color: honeydew;
    font-family: 'Grenze', serif; 
}
.uno{
display: inline;
margin-left: 30px;

}
li{
    font-size: 30px;
}
.ico{
  text-align: left;
  list-style-image: url("../img/icon-32x24.jpg");
}

.tres{
    text-align: left;
    list-style-image: url("../img/icono-32x24.png");
}
.icon, .cinco, .seis{
    margin-left: 30px;
}
.seis{
    text-align: left;
    list-style-image: url("../img/parfum-32x24.jpg");
}
.registro{
    background-color: rgb(255, 0, 0,.9);
}