*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .main-conter{
    /* grid-gap: 15px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template: "header   nav      nav " 50px 
 }  
 .articles{
   margin: 80px auto;
    width: 50%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 400px);
    gap: 60px;
    grid-template: 
                   "article1   article2  article3"  auto
                   "article4   article5  article6"  auto
                   "article7   article8  empty"     auto
                   "footer     footer    footer"    100px /
                    400px       400px    400px;
 }
 .elementStyleCSS {
    /*  border-radius: 10px; */
      display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight:bold;
    color: white;
 }
 .nav{
    background: rgb(238, 232, 232);
    grid-area: nav;
}

.header{
    background: rgb(238, 232, 232);
    grid-area: header;
}

.section{
    background-image: url(../img/spaimg.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    grid-area: section;
    width: 100%;
}

.article1{
    grid-area: article1;
}
.article2{
    grid-area: article2;
}
.article3{
    grid-area: article3;
}
.article4{
    grid-area: article4;
}
.article5{
    grid-area: article5;
}
.article6{
    grid-area: article6;
}
.article7{
    grid-area: article7;
}
.article8{
    grid-area: article8;
}

.footer{
    background: hotpink;
    grid-area: footer;
}
.news{
width: 400px;
}
p{
    padding-top: 10px;
} 
.borde-inferior{
    border-bottom: 4px orange solid;
    width: 50px;
    padding-top: 20px;
}


 nav{
    text-align: right;
   /*  height: 70px;  */
    border-bottom: 3px solid #e7e5e5;
    background:#e7e5e5 ;
    line-height: 50px;
    /* margin-top: 70px;  */
}
#main-menu{
margin: 0 30 0 0px;
}
#main-menu a {
 clear: right;
 text-decoration: none;
 color: rgb(94, 92, 92);
 margin-right: 20px;
 line-height: 50px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#main-menu a:hover{
    color: rgb(220, 220, 119);
}
label{
    float: right;
    margin: 0 17px;
    font-size: 26px;
    line-height: 70px;
    display: none;
}
#toggle{
    display: none;
}


 @media only screen and (min-width:900px) and (max-width:1400px){
    .articles{
        gap: 20px;
        grid-template: 
                       "article1     article2"    auto
                       "article3     article4"    auto
                       "article5     article6"    auto
                       "article7     article8"    auto
                       "footer       footer"       auto /
                        1fr            1fr; 
     }   
}
@media only screen and (max-width:899px){
    .articles{
       gap: 40px;
       grid-template: 
                       "article1  "   auto
                       "article2  "   auto
                       "article3  "   auto
                       "article4  "   auto
                       "article5  "   auto
                       "article6  "   auto
                       "article7  "   auto
                       "article8  "   auto
                       "footer   "    auto / 
                        minmax(auto,400px) ; 
     }
     .main-conter{
        display: grid;
        grid-template: "header   nav      nav " 50px 
     }  
     label{
        display: block;
        cursor:pointer;
        margin-bottom: -17px;
    }
    #main-menu{
        text-align: center;
        display: none;
    }
    #main-menu a{
        display: block;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        border-bottom: 3px solid #eaeaea;
    }
    #toggle:checked +#main-menu{
        display: block;
    }
} 