*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .main-conter{
    grid-gap: 15px;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template: "header   nav      nav " 100px
                   "section  section  section" 250px
                   "article  article  article" auto
                   "footer   footer   footer" 100px;
 }
 .elementStyleCSS {
     border-radius: 10px;
      display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight:bold;
    color: white;
 }
 .nav{
    background: rgb(172, 25, 25);
    grid-area: nav;
}

.header{
    background: rgb(19, 114, 105);
    grid-area: header;
}

.section{
    background: rgb(18, 117, 29);
    grid-area: section;
   
}
.article{
    background: greenyellow;
    grid-area: article;
}
.footer{
    background: hotpink;
    grid-area: footer;
}
.img1{
    height: 100px;
    background: rgb(43, 43, 187);
    display: block;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight:bold ;
    color: white;
}
.article1, .article2, .article3{
    padding: 10px;
}
p{
    padding-top: 10px;
}

@media only screen and (min-width:641px) and (max-width:1024px){
    .main-conter{
        width: 85%;
        grid-template: "header      header"     90px 
                       "nav         nav"        0 
                       "section     section"    250px
                       "article     article"    auto
                       "article     article"    auto
                       "footer      footer"     auto /
                        1fr           1fr; 
     }
    
     .nav{
        background: rgb(248, 1, 1);
        grid-area: nav;
        
    }
}
@media only screen and (max-width:640px){
    .main-conter{
       width: 85%;
        grid-template: "header   "   50px
                       "nav      "   0
                       "section  "   200px
                       "article  "   auto
                       "article  "   auto
                       "article  "   auto
                       "footer   "   auto / 
                        1fr ; 
     }
} 