*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .articles{
    grid-gap: 30px;
/*     margin: 12%; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 400px);
    grid-template: "header   nav      nav " 100px
                   "section  section  section" auto
                   "article1  article2  article3" auto
                   "article4  article5  article6" auto
                   "article7  article8  empty" auto
                   "footer   footer   footer" 100px /
                   400px      400px    400px;
 }
 .elementStyleCSS {
    /*  border-radius: 10px; */
      display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight:bold;
    color: white;
 }
 .nav{
    background: rgb(172, 25, 25);
    grid-area: nav;
}

.header{
    background: rgb(19, 114, 105);
    grid-area: header;
}

.section{
    background-image: url(../img/spa2.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    grid-area: section;
    width: 100%;
}

.article1{
    grid-area: article1;
}
.article2{
    grid-area: article2;
}
.article3{
    grid-area: article3;
}
.article4{
    grid-area: article4;
}
.article5{
    grid-area: article5;
}
.article6{
    grid-area: article6;
}
.article7{
    grid-area: article7;
}
.article8{
    grid-area: article8;
}

.footer{
    background: hotpink;
    grid-area: footer;
}
.news{
width: 400px;
}
p{
    padding-top: 10px;
} 


 @media only screen and (min-width:641px) and (max-width:1024px){
    .main-conter{
        width: 85%;
        grid-template: "header      header"     90px 
                       "nav         nav"        0 
                       "section     section"    250px
                       "article1     article2"    auto
                       "article3     article4"    auto
                       "article5     article6"    auto
                       "footer      footer"     auto /
                        1fr           1fr; 
     }
    
     .nav{
        background: rgb(248, 1, 1);
        grid-area: nav;
        
    }
}
@media only screen and (max-width:640px){
    .main-conter{
       width: 85%;
        grid-template: "header   "   50px
                       "nav      "   0
                       "section  "   200px
                       "article  "   auto
                       "article  "   auto
                       "article  "   auto
                       "footer   "   auto / 
                        1fr ; 
     }
} 