h1{
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 3em;
    color: #000080;
}

form {
    width: 50%;
    margin: 0 auto 0 auto;
}
fieldset {
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

