h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Reggae One', cursive; ;
}
h5 {
    text-align: right;
}

div{
    width: 650px;
    margin: 0 auto 0 auto;
}
.img.bonita {
    text-align: left;
}
.img.antes {
    text-align: left;
}
p {
    font-size: 1.5em;
    text-align: justify;
    margin-right: 3em;
    margin-left: 3em;
}
.color-red{
     color: crimson;
}
.color-blue {
    color: darkcyan;
}