.table-style{
border: 1px solid black; 
/* display: flex; */
/* justify-content: center;
align-items: center; */
margin-top: 5%;
border-collapse: collapse;
border-radius: 10px;
width: 70%;
}
th, td{
    border: 1px solid black; 
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    /* background: rgb(238, 243, 243); */
    color: rgb(8, 8, 8);
    /* border-radius: 10px;
     box-shadow: 2px 2px 10px rgb(87, 83, 83);  */
}