.table-style{
border: 1px solid black; 
margin: 0 auto;
margin-top: 5%;
border-collapse: collapse;
border-radius: 10px;
width: 70%;
}
th, td{
    border: 1px solid black; 
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(12, 12, 12);
    text-align: center;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}
th{
    background: rgb(34, 34, 34); 
    color: rgb(255, 253, 253); 
    font-weight: bold;
}

/* .conten{
    width: 40%;
    display: grid;
    grid-template:  "titulo    titilo    titulo    titulo"    100px
                    "texcodigo texcodigo boxcodigo boxcodigo" 100px
                    "texdescri texdescri boxdescri boxdescri" 100px
                    "texvalor  boxvalor  txtstock  boxstock"  100px
                    " boton    boton     boton     boton" ;
} */
.conten{
    background: red;
    width: 40%;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.titulo{
    grid-area: titulo;
    background: red;
}
.texCodigo{
    grid-area: texcodigo;
    background: blue;
}
.boxCodigo{
    grid-area: boxcodigo;
    background: gray;
}
.texDescripcion{
    grid-area: texdescri;
    background: tomato;
}
.boxDescripcion{
    grid-area: boxdescri;
}
.texValor{
    grid-area: texvalor;
    background: palegreen;
}
.boxValor{
    grid-area: boxvalor;
    background: goldenrod;
}
.texStock{
    grid-area: txtstock;
    background: olive;
}
.boxStock{
    grid-area: boxstock;
    background: teal;
}
.boton{
    grid-area: boton;
    background: whitesmoke;
}