*{
    padding: 0;
    margin: 0;
}
body{
    background: whitesmoke;
}
.main{
    background-color: rgb(255, 230, 0);
    padding: 22px;
}
.main{
    display: grid;
    grid-template-columns: 10%             80%            10%;
    grid-template-areas:   "menu          input           carrito";

}
.menu{
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    grid-area: input;
}
input[type="text"]{
    border-radius: 15px;
    border: none;
    width: 95%;
    padding: 8px;
    outline: none;
}
.carrito{
    grid-area: carrito;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main_content{
    margin:0 2% 0 2%;
    font-family: 'Lato', sans-serif; 
}
.style_contenImg{
    display: grid;
    grid-template: "styleImagen       style-marca"    35px
                   "styleImagen       style-modelo"   35px
                   "styleImagen       style-anyo"     35px
                   "styleImagen       empty"          auto / 
                    8fr               6fr;
     border-bottom: 1px solid gray; 
    padding: 1%;
    /* margin: 1%; 
    width: 32%;*/
    background: white;
    box-sizing: border-box;
    /* border-radius: 10px;
    background: red; */
}
.styleImagen{
grid-area: styleImagen;
width: 100%;
padding: 10px;
}
.style-marca{
    grid-area: style-marca;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}
.style-modelo{
    grid-area: style-modelo;
    padding: 20px;
    font-size: 2em;    
    font-weight: bold;
}
.style-anyo{
    grid-area: style-anyo;
    color: rgb(8, 8, 8);
    /* font-weight: bold; */
    padding: 20px;
    padding-top: 30px;
}

@media screen and (max-width: 800px){
    .style-marca{
        padding: 30px;
        font-size: 1em;
    
    }
    .style-modelo{
        padding-top: 30px;
    }
    .style-anyo{
        font-size: 1em;
        padding-top: 40px;
    }
}


